body{
	width:90%;
	margin: 0 auto;
	text-align:center;
	}

footer	{
	margin-bottom: 1%;
}
#content {
	overflow: auto;
	height: 100%;
}
#nav, #feature, #footer	{
	margin: 1%;

}

.column1, .column2, .column3	{
	background-color: #efefef;
	width:31.3%;
	float: left;
	margin: 1%;
	
}
.column3{
	margin-right:0%;
	
}

li{
	display:inline;
	padding: o.5em;
}
#nav, #footer	{
	background-color:#efefef;
	padding: 0.5em 0;
}

#feature, .article {
	height: 20%;
	margin-bottom: 1em;
	background-color:#efefef;
	
}

#nav	ul{
	list-style-type: none;
	display: inline;
	margin-left: 0px
	padding-left:0px;
}

#nav	li{
	display:inline;
	margin-left: 0px;
}

#nav	a{
	color: black;
	background: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.75em;
	font-weight: bold;
	padding:0.33em 0.33em 0.33em 0.33em;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	border: 1px solid silver;
	margin-right: 0.65em;

}

#nav a:hover{
	color:white;
	background:grey;
}

#nav{
	overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
}

#link	ul{
	list-style-type: none;
	display: inline;
	margin-left: 0px
	padding-left:0px;
}

#link	li{
	display:inline;
	margin-left: 0px;
}

#link	a{
	color: black;
	background: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.75em;
	font-weight: bold;
	padding:0.33em 0.33em 0.33em 0.33em;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	border: 1px solid silver;
	margin-right: 0.65em;
}


#map, #pano {
	float: left;
	height: 100%;
	width: 45%;
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
  
  input, textarea {
     border:0; outline:0;
     padding: 1em;
     @include border-radius(8px);
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     @include box-shadow(0 1px 1px rgba(black, 0.1));
     resize: none;
    
    &:focus {
       @include box-shadow(0 0px 2px rgba($red, 1)!important);
    }
  }
  
  #input-submit {
     color: white; 
     background: $red;
     cursor: pointer;
    
    &:hover {
       @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
    }
  }
  
  textarea {
      height: 126px;
  }
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}